* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   ul, ol {
      list-style: none;
      padding: 0;
      margin: 0;
    }
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Volkhov:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
   font-family: "Volkhov", serif;
   font-weight: 400;
}

/* HEADER */
.header_wrapper {
   position: relative;
}
.decor_header {
   position: absolute;
   top: 0;
   right: 0;
   z-index: -1;
}
.bgc_decor {
   position: absolute;
   top: 0;
   left: -25%;
   width: 500px;
   height: 500px;
   border-radius: 50%;
   background: #D5AEE4;
   background: linear-gradient(to bottom, #D5AEE4, 
  rgba(213, 174, 228, 0.1));
   filter: blur(110px);
   z-index: -1;
}

header ul li a {
   text-decoration: none;
}
header {
   padding: 48px 140px;
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.header_nav {
   width: 60%;
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.header_nav li a {
   font-size: 18px;
   font-weight: 400;
   color: #212832;
}
.login_bttn, .sign_up_bttn, .language_bttn {
   padding: 8px 22px;
   background: none;
   border: none;
   font-size: 18px;
   font-weight: 400;
   color: #212832;
   font-family: inherit;
   border: 1px solid transparent;
}
.login_bttn, .sign_up_bttn, .language_bttn:hover {
   cursor: pointer;
}
.login_bttn:active, .sign_up_bttn:active {
   border-radius: 5px;
   border: 1px solid #212832;
   transform: scale(0.95);
}
.sign_up_bttn {
   border-radius: 5px;
   border: 1px solid #212832;
}
.change_language_container {
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.language_bttn {
   padding: 0;
   margin-right: 8px;
}

 /* HEADER TITLE */
 .header_title {
   padding: 0 140px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   position: relative;
}
.title_container {
   width: 50%;
}
.header_title .traveller_girl {
   width: 50%;
   height: 764px;
}
.title_container h2 {
   color: #DF6951;
   font-size: 20px;
   font-weight: bold;
   margin-bottom: 24px;
}
.title_container h1 {
   width: 545px;
   color: #181E4B;
   font-size: 84px;
   line-height: 89px;
   margin-bottom: 30px;
}
.title_container p {
   width: 480px;
   color: #5E6282;
   font-size: 16px;
   font-weight: medium;
   line-height: 30px;
   margin-bottom: 34px;
}
.underline_with_image {
   display: inline-block;
   position: relative;
}
.underline_with_image::after {
   content: '';
   display: block;
   position: absolute;
   left: -50px;
   bottom: 10px;
   width: 386px;
   height: 10px;
   z-index: -1;
   background-image: url(img/decore-underline.svg);
   background-repeat: no-repeat;
   background-size: contain;
   background-position: center;
}
.plane_decor {
   position: absolute;
   top: 74px;
   right: 636px;
}
.plane2_decor {
   position: absolute;
   top: 122px;
   right: 148px;
   right: 0;
}
.title_bttn_container {
   display: flex;
}
.find_out_bttn {
   background: #F1A501;
   padding: 20px 26px;
   border: none;
   border-radius: 10px;
   color: #fff;
   font-size: 18px;
   font-weight: medium;
   margin-right: 46px;
   box-shadow: 0 4px 8px rgba(241, 165, 1, 0.4);
   transition: background-color 0.3s, box-shadow 0.3s;
}
.find_out_bttn:hover {
   cursor: pointer;
   background: #e89b00;
   box-shadow: 0 6px 12px rgba(232, 155, 0, 0.6);
}
.find_out_bttn:active {
   background: #d48800;
   box-shadow: 0 2px 4px rgba(212, 136, 0, 0.3);
}
.play {
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.play_demo_bttn {
   background: #DF6951;
   border-radius: 50%;
   width: 52px;
   height: 52px;
   border: none;
   position: relative; 
   margin-right: 20px;
   box-shadow: 0 4px 8px rgba(223, 105, 81, 0.5);
}
.play_demo_bttn::after {
   content: '';
   display: block;
   position: absolute;
   top: 50%;
   left: 52%;
   width: 16px;
   height: 16px;
   background-image: url(img/play-arrow.svg);
   background-repeat: no-repeat;
   background-size: contain;
   background-position: center;
   transform: translate(-50%, -50%);
}
.play_demo_bttn:hover {
   cursor: pointer;
   background-color: #e76547;
}
.play_demo_bttn:active {
   background-color: #c85a39;
   box-shadow: 0 2px 4px rgba(223, 105, 81, 0.5);
   transform: scale(0.95);
}
.play span {
   color: #686D77;
   font-size: 18px;
   font-weight: medium;
}

/* offer wrapper */
.service_wrapper {
   padding: 106px 140px 124px 140px;
   text-align: center;
   background: url(img/plus-group.svg) no-repeat;
   background-position: calc(100% - 120px) 100px;
}
.service_wrapper h3 {
   color: #5E6282;
   font-size: 18px;
   font-weight: bold;
   margin-bottom: 10px;
}
.service_wrapper h2 {
   color: #14183E;
   font-size: 50px;
   font-weight: bold;
   margin-bottom: 62px;
}
.service_cards_container {
   display: flex;
   justify-content: space-between;
   align-items: stretch;
}
.service_card {
   width: 20%;
   padding: 32px;
   border-radius: 36px;
   transition: transform 1s ease, box-shadow 1s ease;
}
.service_card:hover {
   cursor: pointer;
   transform: scale(1.03);
   box-shadow: 0 12px 20px rgba(0, 0, 0, 0.2);
}
.service_card img {
  margin-bottom: 28px;
}
.service_card h4 {
   color: #1E1D4C;
   font-size: 20px;
   font-weight: bold;
   margin-bottom: 16px;
}
.service_card p {
   color: #5E6282;
   font-size: 16px;
   font-weight: 400;
}
.service02 img {
   margin-bottom: 18px;
}

/* destination wrapper */
.destination_wrapper {
   padding: 0 140px;
   text-align: center;
   margin-bottom: 186px;
   position: relative;
}
.destination_wrapper::after {
   content: url(img/spiral-decor.svg);
   position: absolute;
   top: 50%;
   right: 12%;
   z-index: -1;
}
.destination_wrapper h3 {
   color: #5E6282;
   font-size: 18px;
   font-weight: bold;
   margin-bottom: 8px;
}
.destination_wrapper h2 {
   color: #14183E;
   font-size: 50px;
   font-weight: bold;
   margin-bottom: 60px;
}
.city_card_container {
   display: flex;
   justify-content: space-between;
   justify-content: center;
   gap: 58px;
   flex-wrap: wrap;
}
.city_card_01 {
   width: 25%;
   height: 100%;
   height: 458px;
   border-radius: 24px;
   background: url(img/rome.png) no-repeat;
   background-size: cover;
   background-position: center;
   position: relative;
   box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
   transition: ease 1s, box-shadow 1s ease;
}
.city_card_02 {
   width: 25%;
   height: 100%;
   height: 458px;
   border-radius: 24px;
   background: url(img/london.jpg) no-repeat;
   background-size: cover;
   background-position: center;
   position: relative;
   box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
   transition: ease 1s, box-shadow 1s ease;
}
.city_card_03 {
   width: 25%;
   height: 100%;
   height: 458px;
   border-radius: 24px;
   background: url(img/europe.png) no-repeat;
   background-size: cover;
   background-position: center;
   position: relative;
   box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
   transition: ease 1s, box-shadow 1s ease;
}
.city_card_01:hover,
.city_card_02:hover,
.city_card_03:hover {
   cursor: pointer;
   transform: scale(1.03);
   box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}

.img_descr {
   position: absolute;
   left: 0;
   bottom: 0;
   background: #fff;
   width: 100%;
   border-radius: 0 0 24px 24px;
   padding: 20px 24px 42px 20px;
}
.city_price {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-bottom: 16px;
}
.city_price p,
.city_price span {
   color: #5E6282;
   font-size: 18px;
   font-weight: normal;
}
.nav_svg {
   display: inline-block;
   margin-right: 14px;
}
.trip {
   display: flex;
   align-items: center;
}
.trip p {
   color: #5E6282;
   font-size: 16px;
   font-weight: normal;
}

/* easy and fast wrapper */
.easy_and_fast_wrapper {
   padding: 0 140px;
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.book_text_container {
   width: 50%;
   padding: 0 230px 0 40px;
}
.book_text_container h3 {
   color: #5E6282;
   font-size: 18px;
   font-weight: bold;
   margin-bottom: 16px;
}
.book_text_container h2 {
   color: #14183E;
   font-size: 50px;
   font-weight: bold;
   margin-bottom: 30px;
}
.items {
   display: flex;
   align-items: center;
   margin-bottom: 48px;
}
.items img {
   margin-right: 22px;
}
.items_img_descr {
   width: 328px;
   display: flex;
   flex-direction: column;
}
.items_img_descr h4 {
   color:#5E6282;
   font-size: 16px;
   font-weight: bold;
}
.items_img_descr p {
   color:#5E6282;
   font-size: 16px;
   font-weight: 400;
   line-height: 124.5%;
}

/* travel  greece container */
.travel_greece_container {
   width: 50%;
   padding: 78px 130px 76px 88px;
   position: relative;
   /* margin: 0 auto; */
}
.greece_card {
   width: 380px;
   padding: 20px 24px;
   text-align: start;
   border-radius: 26px;
   box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
   transition: ease 1s, box-shadow 1s ease;
   position: relative;
}
.greece_card img {
   width: 100%;
   margin-bottom: 26px;
}
.greece_card h3 {
   color: #080809;
   font-size: 16px;
   font-weight: 400;
   line-height: 124.5%;
   margin-bottom: 14px;
}
.greece_card p {
   color: #84829A;
   font-size: 16px;
   font-weight: 400;
   line-height: 124.5%;
   margin-bottom: 22px;
}
.greece_card ul li :hover {
   cursor: pointer;
}
.greece_card ul {
   width: 160px;
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.resume_box {
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.resume_box img {
   width: 20px;
}
.resume {
   width: 100%;
   display: flex;
}
.resume img {
   display: block;
   width: 16px;
   margin-right: 6px;
}
.resume_box img:hover {
   cursor: pointer;
}
.resume_box img:active {
   transform: scale(0.95);
}
.resume p {
   margin-right: 6px;
   color: #84829A;
   font-size: 16px;
   font-weight: 400;
   line-height: 124.5%;
}
.resume p:hover {
   cursor: pointer;
}
.ongoing_card {
   position: absolute;
   top: 200px;
   left: 220px;
   width: 268px;
   border-radius: 18px;
   display: flex;
   align-items: flex-start;
   box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
   transition: ease 1s, box-shadow 1s ease;
   padding: 18px 0 0 24px;
   background: #fff;
}
.ongoing_card img {
   width: 50px;
   margin-right: 12px;
}
.ongoing_box h3 {
   color: #84829A;
   font-size: 14px;
   font-weight: 400;
   line-height: 124.5%;
   margin-bottom: 6px;
}
.ongoing_box p:nth-child(1) {
   color: #080809;
   font-size: 18px;
   font-weight: 400;
   line-height: 124.5%;
   margin-bottom: 14px;
}
.ongoing_box p:nth-child(2) {
   font-size: 14px;
   margin-bottom: 10px;
}
.ongoing_box p span {
   color: #8A79DF;
   font-size: 14px;
}
.ongoing_box img {
   width: 160px;
}

/* brands wrapper */
.brands_wrapper {
   padding: 28px 140px;
   margin-bottom: 100px;
}

.brands_wrapper ul {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

/* subscribe form wrapper */
.subscribe_form_wrapper {
   padding: 0 140px 70px 140px;
   position: relative;
   text-align: center;
   background: url(img/pluses2.svg) no-repeat;
   background-position: calc(100% - 20px) 100%;
}
.form_decor {
   background: #f9f7fe;
   border-radius: 129px 20px 20px 20px;
   padding: 80px 140px;
   text-align: center;
   position: relative;
}
.form_decor p {
   color: #5E6282;
   font-size: 33px;
   font-weight: bold;
   line-height: 54px;
   margin-bottom: 74px;
}
.form_decor .decor1 {
   position: absolute;
   top: 0;
   right: 0;
   opacity: 0.1;
}
.form_decor .decor2 {
   position: absolute;
   bottom: 0;
   left: 0;
   opacity: 0.5;
   overflow: hidden;
}
.form_container {
   display: flex;
   justify-content: center;
}
.input_email {
   width: 420px;
   padding: 22px 0 22px 50px;
   border-radius: 10px;
   border: none;
   outline: none;
   background-image: url('img/email.svg');
   background-repeat: no-repeat;
   background-position: 20px center;
   background-size: 20px 20px;
   margin-right: 24px;
   color: #39425D;
   font-size: 16px;
}
.input_email::placeholder {
   color: #39425D;
   font-size: 16px;
}
.form_container .subscribe {
   background: linear-gradient(#FF946D 0%, #FF7D68 100%);
   padding: 22px 50px;
   border: none;
   border-radius: 10px;
   color: #fff;
   font-size: 18px;
   font-weight: bold;
   cursor: pointer;
   transition: ease 1s; 
   transition: 1s ease, box-shadow 1s ease;
   box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}
.form_container .subscribe:active {
   background: linear-gradient(#FF7D68 0%, #FF946D 100%);
   box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

/* footer */
footer {
   padding: 100px 140px 80px 140px;
   display: flex;
   justify-content: center;
   position: relative;
   overflow: hidden;
}
.footer_logo_box {
   width: 20%;
}
.footer_logo_box h3 {
   color: #181E4B;
   font-size: 44px;
   font-weight: 400;
   margin-bottom: 18px;
}
.footer_logo_box p {
   color: #5E6282;
   font-size: 14px;
   font-weight: 400;
   line-height: 124.5%;
}
.footer_nav_box {
   width: 60%;
}
.footer_nav_box ul {
   display: flex;
   justify-content: space-between;
}
.list_title_item {
   color: #080809;
   font-size: 22px;
   font-weight: bold;
   line-height: 124.5%;
   margin-bottom: 32px;
}
.list_title_item ul {
   margin-top: 24px;
}
.footer_nav_box {
   padding: 0 100px;
}
.footer_nav_box ul li ul {
   display: flex;
   flex-direction: column;
}
.footer_nav_box ul li ul li a {
   color: #5E6282;
   font-size: 18px;
   font-weight: 400;
   line-height: 124.5%;
   margin-bottom: 16px;
   list-style: none;
   text-decoration: none;
}
.footer_media_box {
   width: 20%;
}
.media_box {
   display: flex;
   justify-content: center;
   align-items: center;
   margin-bottom: 6px;
}
.media_box li {
  margin-right: 6px;
}
.footer_media_box p {
   color: #5E6282;
   font-size: 20px;
   font-weight: 400;
   line-height: 124.5%;
   margin-bottom: 16px;
   text-align: center;
}
.download_box {
   display: flex;
   justify-content: space-between;
   justify-content: center;
   align-items: center;
}
.download_box a {
   margin-right: 8px;
}
.footer_bgc_decor {
   position: absolute;
   bottom: -75%;
   right: -25%;
   width: 500px;
   height: 500px;
   border-radius: 50%;
   background: #D5AEE4;
   background: linear-gradient(to bottom, #D5AEE4, 
  rgba(213, 174, 228, 0.1));
   filter: blur(110px);
   z-index: -1;
}


